{% extends "modelo.html" %}

{%block conteudo%}
<h1>Equipe do Projeto</h1>
<ul>
    <li><strong>Bruno De Araújo Pontes Filho</strong> – <a href="https://github.com/Uuiskas" target="_blank">Git</a></li>
    <li><strong>Rebecca Beatriz Silva Cândido</strong> – <a href="https://github.com/rebeccacandido" target="_blank">Git</a></li>
    <li><strong>Kaike Araújo</strong> – <a href="" target="_blank">Git</a></li>
    <li><strong>Caio Simões</strong> – <a href="" target="_blank">Git</a></li>

</ul>
<a href="/">Página Inicial</a>


{%endblock%}
