{% extends "modelo.html" %}

{%block conteudo%}
<h1 class="sobree">Equipe do Projeto</h1>

<div class="time">
    <ul>
        <li><strong>Bruno De Araújo Pontes Filho</strong> – <a href="https://github.com/Uuiskas" target="_blank">Github</a></li>
        <li><strong>Rebecca Beatriz Silva Cândido</strong> – <a href="https://github.com/rebeccacandido" target="_blank">Github</a></li>
        <li><strong>Kaike Araújo Moura</strong> – <a href="https://github.com/KaikeAraujoo" target="_blank">Github</a></li>
        <li><strong>Caio Simões</strong> – <a href="https://www.linkedin.com/in/caio-sim%C3%B5es-ferreira-7aabb62b7/" target="_blank">Github</a></li>
    </ul>
</div>


{%endblock%}
